In [3]:
print("Hello world")

Hello world

# Basics
<h1> Python </h1>

## Data Structure
- Arrays
- Strings
- Linked lists
- Trees

In [2]:
# shift + enter
print("Hello students")

Hello students

In [140]:
print("Python", "Data Science", "Machine Learning", sep = ", ")

Python, Data Science, Machine Learning

In [138]:
print?

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
price = 699
print(price)

699

In [9]:
13iphone = 799

SyntaxError: invalid syntax (<ipython-input-9-fc6a65fbc66b>, line 1)

In [10]:
iphone13 = 799
print(iphone13)

799

In [11]:
print( type(iphone13) )

<class 'int'>

## DataTypes
- int
- float
- str
- bool
- None

In [12]:
iphone13 = "$799"

print(iphone13)

$799

In [17]:
type(iphone13)

str

In [18]:
iphone13

'$799'

In [19]:
iphone13 = 799.99

print(iphone13)

799.99

### Location of a Variable

In [20]:
id(iphone13)

140623423645040

In [21]:
id(price)

140623693626064

### Type Conversion

In [23]:
str(iphone13)

'799.99'

In [25]:
int(iphone13)

799

In [26]:
type(iphone13)

float

In [29]:
bool(1)

True

### Input from user

In [32]:
name = input("Enter your name: ")

Enter your name: Mohit

In [33]:
print(name)

Mohit

In [34]:
type(name)

str

In [35]:
print("Welcome", name)

Welcome Mohit

salary = 50000 + exp* 20000

In [38]:
exp = float(input("Enter your experience:"))

Enter your experience:2.5

In [39]:
salary = 50000 + exp*20000

print(salary)

100000.0

### Operators Expression

In [40]:
no1 = 8
no2 = 3

In [50]:
add = no1 + no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2

In [51]:
print( "{}+{} = {}".format(no1,no2,add) )
print( "{}/{} = {}".format(no1,no2,div) )
print( "{}//{} = {}".format(no1,no2,f_div) )
print( "{}**{} = {}".format(no1,no2,exp) )

8+3 = 11
8/3 = 2.6666666666666665
8//3 = 2
8**3 = 512

In [53]:
p1_salary = 90000

In [54]:
p1_salary > 100000

False

In [55]:
p1_salary < 100000

True

In [56]:
p1_salary == 100000

False

In [57]:
(10>5) and (20 < 25)

True

In [61]:
(10>5) or (30 < 25)

True

In [63]:
not (5 > 10)

True

In [64]:
a = 5

In [65]:
a = a + 1

In [66]:
print(a)

6

In [67]:
a += 1

In [68]:
print(a)

7

In [69]:
a *= 2

In [70]:
print(a)

14

In [71]:
c_id, c_name, c_purchase = 1001, "Anurag", 500

In [72]:
a = b = c = 10

# in operator

In [73]:
food_review = """We visited this place for breakfast and dinner. 
The place is very conveniently located with ample parking space. 
The food at both the meals was tasty and definitely worth the price. 
Good quantity served per portion. Service as also good. 
Overall, a good place to have food (both south indian and north indian).
Would recommend it definitely."""

In [74]:
print(food_review)

We visited this place for breakfast and dinner.
The place is very conveniently located with ample parking space.
The food at both the meals was tasty and definitely worth the price.
Good quantity served per portion. Service as also good.
Overall, a good place to have food (both south indian and north indian).
Would recommend it definitely.

In [75]:
"good" in food_review

True

In [76]:
"tasty" in food_review

True

In [77]:
"worst" in food_review

False

In [78]:
"nasty" in food_review

False

# Control Flow
- conditional statements
- loops and iterations
- loop statement (break, continue)

In [93]:
age = 25

if(age>18):
    print("you can vote")
    print("i'm inside if")
else:
    print("go home kid.")
    print("i'm inside else")

you can vote
i'm inside if

Q - find if number is zero, positive, or negative?

In [101]:
number = 6

In [102]:
if(number==0):
    print("Zero")
elif (number>0):
    print("Positive")
else:
    print("Negative")

Positive

In [103]:
if(number==0):
    print("Zero")
else:
    if(number>0):
        print("Positive")
    else:
        print("Negative")

Positive

## Loops
- while
- for in loop

In [111]:
i = 1

while(i<10):
    print(i, end=" ")
    i = i+1

1 2 3 4 5 6 7 8 9

In [116]:
for ele in range(1, 21, 2):
    
    print(ele, end=" ")

1 3 5 7 9 11 13 15 17 19

In [118]:
for ele in range(0,21):
    
    if ele%2!=0:
        print(ele, end=" ")

1 3 5 7 9 11 13 15 17 19

In [133]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
n = 5
# *
# **
# ***
# ****
# *****

In [155]:
for i in range(5):
    for j in range(i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [145]:
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

In [146]:
"Hello"*4

'HelloHelloHelloHello'

In [147]:
for i in range(1, 10):
    if i==4:
        break
    print(i)

1
2
3

In [148]:
for i in range(1, 10):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9