#### Set internals

In [1]:
sample_set = {"cricket", "NFL", "MLB"}
sample_set.add("football")
sample_set.add("NFL")
print(sample_set)

{'cricket', 'MLB', 'NFL', 'football'}

In [2]:
hash("NFL")

-7062764075509077566

In [3]:
hash("MBL")

3101108689053214596

In [4]:
hash("NFL")

-7062764075509077566

In [10]:
hash("c")

-7890930316961573847

# Functions

    def func_name(params):
        """doc string"""
        
        statements...

In [26]:
def get_tshirt_size(height):
    """ This function converts height(cm) to Tshirt size
    params:  height ---> (in cm)
    returns: Tshirt size ---> (S, M, L)
    
    It prints the Tshirt size.
    """
    
    if height<=150:
        return ("S")
    elif height>150 and height<=180:
        return ("M")
    else:
        return ("L")

In [21]:
print(type(get_tshirt_size))

<class 'function'>

In [22]:
print(get_tshirt_size.__doc__)

 This function converts height(cm) to Tshirt size
    params:  height ---> (in cm)
    returns: Tshirt size ---> (S, M, L)

    It prints the Tshirt size.

In [25]:
size = get_tshirt_size(175)
print(size)

M

#### get average height

In [30]:
def average_height(heights):
    return sum(heights)/len(heights)

In [31]:
heights = [150, 167, 175, 161, 180, 172, 177]

In [32]:
average_height(heights)

168.85714285714286

#### A function can return multiple values

In [34]:
def stats(heights):
    """ """
    minimum = min(heights)
    maximum = max(heights)
    mean =  average_height(heights)
    
    
    return minimum, maximum, mean

In [37]:
props = stats(heights)
print(props)

(150, 180, 168.85714285714286)

In [39]:
props[1],

(180,)

#### Quiz

In [44]:
min(max(False,-3,-4), 2,7)

False

In [49]:
sum([True, True, True, False])

3

#### Lambda Functions

In [60]:
(lambda a,b : a+b)

In [61]:
(lambda a,b : a+b)(1,4)

5

In [62]:
add = (lambda a,b : a+b)

In [64]:
add(4,5)

9

In [66]:
(lambda x: x**0.5)(20)

4.47213595499958

**Task:**

1. Sort with emp_id
2. Sort with emp_sal

In [67]:
EMP_SAL = {
    '1101' : 40000,
    '967'  : 51000,
    '413'  : 87000,
    '650'  : 60000
}

In [69]:
EMP_SAL

{'1101': 40000, '967': 51000, '413': 87000, '650': 60000}

In [132]:
40000 in EMP_SAL.values()

True

In [73]:
list(EMP_SAL.items())

[('1101', 40000), ('967', 51000), ('413', 87000), ('650', 60000)]

In [74]:
sorted(EMP_SAL.items())

[('1101', 40000), ('413', 87000), ('650', 60000), ('967', 51000)]

In [77]:
def custom_comp(itm):
    return int(itm[0])

In [78]:
sorted(EMP_SAL.items(), key = custom_comp )

[('413', 87000), ('650', 60000), ('967', 51000), ('1101', 40000)]

In [79]:
sorted(EMP_SAL.items(), key = lambda itm : int(itm[0]) )

[('413', 87000), ('650', 60000), ('967', 51000), ('1101', 40000)]

In [80]:
sorted(EMP_SAL.items(), key = lambda itm : itm[1] )

[('1101', 40000), ('967', 51000), ('650', 60000), ('413', 87000)]

## Arguments Vs. Parameters
- positional arguments
- default arguments
- arbitary arguments (args)
- keyword arguments (kwargs)

In [81]:
def add(a, b):
    return a +b

In [85]:
add(5, 4)

9

In [86]:
add(5)

TypeError: add() missing 1 required positional argument: 'b'

In [91]:
def add_modified(a, b=0):
    return a +b

In [88]:
add_modified(5)

5

In [89]:
add_modified(5, 3)

8

In [99]:
def demo(*args):
    print(args)
    print(type(args))
    
    for ele in args:
        print(ele*2)

In [101]:
demo(3.1,"Hello", 2,6)

(3.1, 'Hello', 2, 6)
<class 'tuple'>
6.2
HelloHello
4
12

In [113]:
def sum_all(*args):
    s = 0
    for ele in args:
        s += ele
    return s

In [114]:
sum_all(4,5,6,10)

25

In [117]:
def introduction(**kwargs):
    print(kwargs)

In [118]:
introduction(name= "John", age= 37, hobby = ['playing', 'sleeping'] )

{'name': 'John', 'age': 37, 'hobby': ['playing', 'sleeping']}

In [120]:
# positional, default, args, kwargs

# def random(x,y,z=6, *args, **kwargs):
#     print()


# random(5,3,8,10, 56, a = 4, b = 7, 100)

In [123]:
x = 10

def random(x):
    x = x+1
    print(x)

print(x)
random(100)
print(x)

10
101
10

In [126]:
x = 10

def random():
    global x
    x = x+1
    print(x)

print(x)
random()
print(x)

10
11
11

### Map, Filter, reduce

In [133]:
def get_tshirt_size(heights):
    """ This function converts height(cm) to Tshirt size
    params:  height ---> ( int: in cm)
    returns: Tshirt size ---> (S, M, L)
    
    It prints the Tshirt size.
    """
    
    if height<=150:
        return ("S")
    elif height>150 and height<=180:
        return ("M")
    else:
        return ("L")

In [134]:
heights

[150, 167, 175, 161, 180, 172, 177]

In [136]:
# get_tshirt_size(heights)

In [142]:
map_obj = map(get_tshirt_size, heights)
map_obj

In [143]:
Tshirt_sizes = list(map_obj)
print(Tshirt_sizes)

['S', 'M', 'M', 'M', 'M', 'M', 'M']

In [153]:
filter_obj = filter(lambda x : x == 'M', Tshirt_sizes )
print(filter_obj)

<filter object at 0x7fd451839c40>

In [154]:
medium_tshirts = list(filter_obj)
print(medium_tshirts)

['M', 'M', 'M', 'M', 'M', 'M']

In [155]:
from functools import reduce

In [156]:
numbers = [1,2,3,4,5]

In [158]:
reduce( lambda x,y : x+y , numbers )

15